<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker presentation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center;">Hello, Docker!</h1>
<div class="container" style="margin-bottom: 5px">
    <div class="row">
        <div class="col-sm-2">From email:</div>
        <input class="col-sm-8"></div>
</div>
<div class="container" style="margin-bottom: 5px">
    <div class="row">
        <div class="col-sm-2">To email:</div>
        <input class="col-sm-8"></div>
</div>
<div class="container" style="margin-bottom: 5px">
    <div class="row">
        <div class="col-sm-2">Theme:</div>
        <input class="col-sm-8"></div>
</div>
<div class="container" style="margin-bottom: 5px">
    <div class="row">
        <div class="col-sm-2">Message:</div>
        <textarea class="col-sm-8"></textarea></div>
</div>
<div class="container" style="margin-bottom: 5px">
    <div class="row">
        <button>Send</button>
    </div>
</div>
</body>
</html>